.heading
{
    flex: 1 1 auto;
}
.example-container {
    width: 100%;
    height: 700px;
   
  }
  .mat-drawer {
    background-color: #673ab724!important;
    color: #fff;
}
.mat-drawer-container {
    background-color: #bef0e50f!important;
    color: #fff;
}
.main-content
{
    position:absolute;
    top:40%;
    left:15%;
}
.mat-drawer-container {
    color:brown;
}